.main--container{
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

.aside--button-container{
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.aside--button-container > button {
  font-size: 1rem;
}

.content-page{
  padding: 10px;
  margin-left: 10px;
}

.all-items{
  min-width: 250px;
}

.item_page_info_container{
  padding: 20px;
  line-height: 2rem;
  font-size: 1.3rem;
}

.button_link{
  font-size: inherit;
  border: none;
  background-color: white;
  text-decoration: underline;
}

.button_link:hover{
  cursor: pointer;
}

.smaller{
  font-size: 1rem;
}