.main--container{
  display: flex;
  width: 100vw;
  height: 80vh;
  align-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

.aside--button-container{
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.content-page{
  padding: 10px;
  margin-left: 10px;
}